@using WeddingServices.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matteo & Maria - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="http://fonts.googleapis.com/css?family=Dancing+Script:700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet" type="text/css">
    <meta name="description" content="Il nostro matrimono! Maria & Matteo">
    <meta name="keywords" content="Matteo, Maria, Garzulino, Cecchini, Matrimonio, Love, Amore, Rimini, Cattolica, 24 agosto 2017" />
    <meta http-equiv="content-language" content="it">
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <meta name="revisit-after" content="3 Days">
</head>
<body data-spy="scroll" data-target=".navbar-default">
    @{
        DateTime weddingDate = new DateTime(2017, 8, 24);
    }
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top menuBar">
        <div class="container">
            <div class="navbar-header menuHeader">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a href="/Home/Index#Home"><img src="~/Content/Images/Bibart/tag.png" alt="Maria & Matteo" /></a>*@
                @Html.ActionLink("Maria & Matteo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav menuHeaderCollapse">
                    <li><a href="/Home/Index#Cerimonia">La Cerimonia</a></li>
                    <li><a href="/Home/Index#Ricevimento">Il Ricevimento</a></li>
                    <li><a href="/Home/Index#Viaggio">Il nostro viaggio</a></li>
                    <li><a href="/Home/Index#RSVP">RSVP</a></li>
                    <li><a href="/Home/Index#Guestbook">Guestbook</a></li>
                    @*<li>@Html.ActionLink("MyRSVP", "MyRSVP", "RSVP", new { Guid = "baf4b8d4-35da-4f2a-9497-10c806ef9030" }, null)</li>*@
                    @*<li><a href="#Ringraziamenti">Ringraziamenti</a></li>*@
                    @*<li>@Html.ActionLink("La Cerimonia", "Cerimonia", "Home")</li>
                        <li>@Html.ActionLink("Il Ricevimento", "Ricevimento", "Home")</li>
                        <li>@Html.ActionLink("Il nostro viaggio", "Viaggio", "Home")</li>
                        <li>@Html.ActionLink("RSVP", "RSVP", "RSVP")</li>
                        <li>@Html.ActionLink("Il Guestbook", "Get", "Guestbook")</li>*@
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <div class="footerBar">
            <div class="container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <p style="padding-left:1px; padding-right:1px;">Matteo <i class="fa fa-heart-o" aria-hidden="true"></i>  Maria</p>
                            <p>@weddingDate.ToItalianWithDayNameString()</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/RSVP")
    @RenderSection("scripts", required: false)
</body>
</html>
